/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Purple): #A49BC2;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

header {
    background-color: #ffffff;
    padding: 10px 0 4px;
    margin: none;
    border-bottom: 3px solid #4a4a4a;
    width: 100%;
    height: 100px;
    background: #F8F8F8;
    border: solid #BDBDBD 1px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: relative
}

main {
    padding-top: 20px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 400;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 600;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    /* No underlining */
}

a:hover {
    color: #000000;
    text-decoration: underline;
    /* Underlining when hovering over a link */
}

a:visited {
    /* visited link */
    color: #B8AFBF;
}

a:active {
    /* selected link */
    color: #8C749B;
}

a:hover,
a:focus {
    color: #000000;
    text-decoration: underline;
}

#hero {

    padding: 20px 0;
    display: inline-block;
    width: 100%;

}




/****************************** buttons *****************************/
.button {
    display: inline-block;
    background-color: #A49BC2;
    color: #000000;
    /* needed to override the default link color */
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 4px;
    border-bottom: 2px solid #000000;

    margin: 0 auto;
    /* No spacing to top and bottom and auto spacing to left and right */
    /* width of the border, type, color */

    transition-duration: 0.2s;
    transition-property: opacity;

}

.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button:active {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
}

.button.contact:hover {
    background-color: #A49BC2;
    color: #000000;
}

.button:active {
    opacity: 0.8;
}




/********************************** Layout styling *******************************/

.container {
    padding: 15px 15px;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

#hero h1 {
    text-align: center;
}



.logo {
    font-size: 1.5em;
    text-align: center;
    color: #A49BC2;
    max-width: 150px;
    min-width: 641px;

}

header {
    background-color: #ffffff;
    padding: 10px 10px;

}



/******************** navigation *************************/

nav>ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}


nav>ul>li {
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #A49BC2;

}

.navtoggle li:not(:last-child) {
    display: none;
}


.navtoggle,
.navtoggle.responsive {
    position: relative;
}


.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 3px dotted #A49BC2;
    background-color: #ffffff;
    w
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}


/*********************** icons/imgs **********************/


.social-media-icon {
    padding-top: 20px;
    width: 50px;
    height: auto;

}

.img-frogship {

    width: 100%;

}


/*********************** svg animation **********************/

@keyframes color-change {
    from {
        fill: cyan;
    }

    to {
        fill: white;
    }
}

.star {


    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


@keyframes rotate01 {
    from {
        transform: rotatez(40deg);
    }

    to {
        transform: rotatey(5deg);
    }

}


.star2 {
    animation-duration: 10s;
    animation-name: rotate01;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


@keyframes scale01 {
    50% {
        scale: 2 1.5;
    }


}

.star3 {
    position: absolute;
    animation-duration: 13s;
    animation-name: scale01;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}


/****************************** M scrns(640px and lgr)**********************************/
@media only screen and (min-width: 640px) {

    [class*="col-"] {
        float: left;
        padding: 10px;
    }


    header {
        height: 150px;
        text-align: unset;
        padding: 40px 13px;
    }


    /**************** brackets ******************/


    .brackets a {
        position: relative;
        
    }

    .brackets a:before,
    .brackets a:after {
        position: absolute;
        opacity: 0;
        font-size: 20px;
        transition: all 0.3s;
        color: #A49BC2;
    }

    .brackets a:before {
        content: '(';
        left: 0px;
        transform: translateX(-10px);
    }

    .brackets a:after {
        content: ')';
        right: 0px;
        transform: translateX(10px);
    }

    .brackets a:hover:before {
        opacity: 2;
        transform: translateX(-11px);
    }

     
    .brackets a:hover:after {
        opacity: 2;
        transform: translateX(11px);
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
        padding-bottom: 20px;
    }

    nav>ul {
        margin: 1em 0;
    }

    nav>ul>li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .logo {

        padding: 14px 13px;
    }

    #hero span {
        display: block;
    }

    body {
        font-size: 18px;
    }

    .col-md-6 {
        width: 50%;
    }

    .row:after {
        content: "";
        clear: both;
        display: table;
    }

    #about-page h3 {
        margin-top: 20;
    }






}


/*************************LG scrns (1024px or lgr)**************************/
@media only screen and (min-width: 1024px) {

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;

    }





}